.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  font-family: sans-serif;
  font-size: 25px
}

.left {
  left: 0;
  background-color: #BB7E8C;
}

.right {
  right: 0;
  background-color: #004346;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.centered img {
  width: 400px;
}
