.all {
  font-family: 'Lexend Exa', sans-serif;
  background-color: #EFD09E;
  display: flex;
  height: 3000px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.up {
 display: flex;
 align-items: center;
 flex-direction: column;

}

.work {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.work img {
  height: 16%;
}

.uimg {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
